<div class="grid m-0">
  <div class="col lg:col-fixed md:w-21rem">
    <div class="p-3 border-round-md border-1 border-blue-500 bg-white">
      <h4 class="mb-3">Filters</h4>
      <div class="flex flex-column mb-4">
        <label for="email" class="mb-2">Films</label>
        <p-multiSelect
          [options]="filmTitles"
          [(ngModel)]="selectedFilms"
          (ngModelChange)="onChangeFilter()"
          optionLabel="name"
          placeholder="Select films"
          [showClear]="true"
        />
      </div>
      <div class="flex flex-column mb-4">
        <label for="email" class="mb-2">Species</label>
        <p-multiSelect
          [options]="speciesNames"
          [(ngModel)]="selectedSpecies"
          (ngModelChange)="onChangeFilter()"
          optionLabel="name"
          [showClear]="true"
          placeholder="Select species"
        />
      </div>
      <div class="flex flex-column mb-4">
        <label for="email" class="mb-2">Vehicles</label>
        <p-multiSelect
          [options]="vehicleNames"
          [(ngModel)]="selectedVehicles"
          (ngModelChange)="onChangeFilter()"
          optionLabel="name"
          [showClear]="true"
          placeholder="Select vehicles"
        />
      </div>
      <div class="flex flex-column mb-4">
        <label for="email" class="mb-2">Star Ships</label>
        <p-multiSelect
          [options]="starShipNames"
          [(ngModel)]="selectedStarShips"
          (ngModelChange)="onChangeFilter()"
          optionLabel="name"
          [showClear]="true"
          placeholder="Select star ships"
        />
      </div>
      <div class="flex flex-column mb-4">
        <label for="email" class="mb-2">Birth Year</label>
        <div class="flex gap-3 mb-2">
          <p-inputGroup>
            <input
              type="text"
              pInputText
              [(ngModel)]="fromYear"
              [disabled]="isAllTimeBirthYear"
            />
            <p-inputGroupAddon> BBY </p-inputGroupAddon>
          </p-inputGroup>
          <p-inputGroup>
            <input
              type="text"
              pInputText
              [(ngModel)]="toYear"
              [disabled]="isAllTimeBirthYear"
            />
            <p-inputGroupAddon> BBY </p-inputGroupAddon>
          </p-inputGroup>
        </div>
        <p-checkbox
          [(ngModel)]="isAllTimeBirthYear"
          label="Show all time"
          [binary]="true"
          name="birthYear"
          inputId="birthYear"
        />
      </div>
    </div>
  </div>
  <div class="col">
    <div class="p-3 border-round-md border-1 border-blue-500 bg-white">
      <h4 class="mb-3">StarWar People List</h4>
      <div class="card">
        <p-table
          [value]="people"
          styleClass="p-datatable-gridlines"
          [tableStyle]="{ 'min-width': 'max-content' }"
          [scrollable]="true"
          [paginator]="true"
          [rows]="10"
          [rowHover]="true"
        >
          <ng-template pTemplate="header">
            <tr>
              <th>Id</th>
              <th>Name</th>
              <th>Species</th>
              <th>Birth Year</th>
              <th>Gender</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-people>
            <tr class="p-selectable-row" (click)="onClickPeople(people.id)">
              <td>{{ people.id }}</td>
              <td>{{ people.name }}</td>
              <td>{{ (people.species[0] | species : "name") ?? "Unknown" }}</td>
              <td>{{ people.birth_year }}</td>
              <td>
                <p-tag
                  [value]="people.gender | titlecase"
                  [severity]="getGenderColor(people.gender)"
                />
              </td>
            </tr>
          </ng-template>
        </p-table>
      </div>
    </div>
  </div>
</div>
