/* You can add global styles to this file, and also import other style files */
// @import "shared/styles/theme.css";
@import "primeng/resources/themes/aura-dark-blue/theme.css";
@import "primeng/resources/primeng.css";
@import "primeicons/primeicons.css";

h1,
h2,
h3,
h4,
h5,
h6,
p,
body {
  margin: 0;
}

.p-dropdown,
.p-multiselect,
.p-inputtext,
.p-password input {
  width: 100%;
}

// -------- Scroll Global bar -----------
/// width
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

/// Track
::-webkit-scrollbar-track {
  background: #f1f1f100;
}

/// Handle
::-webkit-scrollbar-thumb {
  background: #535353;
  border-radius: 4px;
}

/// Handle on hover
::-webkit-scrollbar-thumb:hover {
  background: #bbbbbb;
}
